{% extends "analyzer/base.html" %}
{% load i18n %}

{% block content %}
<style>
 body {
        background-color: #3d8f99 !important; /* مهم است تا استایل‌های دیگر را لغو کند */
        overflow: hidden; /* جلوگیری از اسکرول خوردن */
        background-image: none !important;
    }

    .page-wrapper {
        min-height: calc(100vh - 120px); /* کم کردن ارتفاع نوبار و فوتر */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background: #ffffff;
        border-radius: 15px;
        padding: 40px 30px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        max-width: 500px;
        width: 100%;
        animation: fadeIn 0.8s ease-in-out;
        text-align: center;
    }

    .btn-custom {
        background: #38A3AD;
        color: white;
        border: none;
        padding: 10px 25px;
        border-radius: 50px;
        transition: all 0.3s ease;
    }

    .btn-custom:hover {
        background: #2c7a84;
        color: #fff;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    @keyframes fadeIn {
        from {opacity: 0; transform: translateY(-20px);}
        to {opacity: 1; transform: translateY(0);}
    }
    .p{
        color: olivedrab;
    }
</style>

<div class="page-wrapper">
    <div class="card">
        <div class="mb-3">
            <i class="fas fa-check-circle fa-3x text-success"></i>
        </div>
        <h1 class="h3 mb-3 fw-bold text-success">رمز عبور تغییر کرد</h1>
        <p class="p">رمز عبور شما با موفقیت تغییر کرد. اکنون می‌توانید با رمز جدید خود وارد شوید.</p>
        <div class="mt-4">
             <a href="{% url 'account_login' %}" class="btn btn-custom">ورود به حساب کاربری</a>
        </div>
    </div>
</div>
{% endblock %}
