argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.9.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.5
customtkinter==5.2.2
darkdetect==0.8.0
Django
django-allauth==65.10.0
idna==3.10
iniconfig==2.1.0
jalali_core==1.0.0
jdatetime==5.2.0
packaging==25.0
passlib==1.7.4
pillow==11.3.0
pluggy==1.6.0
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pytest==8.4.1
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0